<<<<<<< HEAD
/* This file contains very basic styles. */
=======
<<<<<<< HEAD
/* This file contains very basic styles. */
=======
.form-page__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
  width: 100%;
}

.form-page__form-wrapper {
  max-width: 325px;
  width: 100%;
  border: 1px solid $very-light-grey;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.form-page__form-heading {
  text-align: center;
  font-size: 1em;
  user-select: none;
}

.form-page__form-header {
  padding: 1em;
}

.form__field-wrapper {
  width: 100%;
  position: relative;
  padding-top: 1.75em;
  border-top: 1px solid $very-light-grey;
  border-bottom: 1px solid $very-light-grey;
  background-color: #fff;
}

.form__field-wrapper + .form__field-wrapper {
  border-top: none;
}

.form__field-input:focus ~ .form__field-label {
  color: $dark-grey;
  background-color: $very-light-grey;
}

.form__field-input:focus {
  background-color: $very-light-grey;
  color: $very-dark-grey;
}
>>>>>>> master
>>>>>>> jc-dev

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
  width: 100%;
  height: 100%;
<<<<<<< HEAD
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: $nav-height;
  //background-color: $background-color;
  background-size: 100%;
  background-image: url(http://img06.deviantart.net/f66b/i/2012/268/a/3/premade_background___006_white_sands_by_thalija_stock-d5fucfc.jpg);
}

body.js-open-sans-loaded {
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
=======
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: $nav-height;
  //background-color: $background-color;
  background-size: 100%;
  background-image: url(http://img06.deviantart.net/f66b/i/2012/268/a/3/premade_background___006_white_sands_by_thalija_stock-d5fucfc.jpg);
}

<<<<<<< HEAD
body.js-open-sans-loaded {
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
=======
/* This file contains very basic styles. */

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
  width: 100%;
  height: 100%;
}

main {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: $nav-height;
  //background-color: $very-dark-grey;
  background-size: 100%;
  background-image: url(http://img06.deviantart.net/f66b/i/2012/268/a/3/premade_background___006_white_sands_by_thalija_stock-d5fucfc.jpg);

}

body.js-open-sans-loaded {
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
>>>>>>> master
>>>>>>> jc-dev
}
