.form__field-wrapper {
  width: 100%;
  position: relative;
  //padding-top: 1.75em;
  border-top: 1px solid $very-light-grey;
  border-bottom: 1px solid $very-light-grey;
  background-color: #fff;
}

.form__field-wrapper + .form__field-wrapper {
  //border-top: 300px;
}

.form__field-input:focus ~ .form__field-label {
  color: $dark-grey;
  background-color: $very-light-grey;
}

.form__field-input:focus {
  background-color: $very-light-grey;
  color: $very-dark-grey;
}

.form__field-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //padding: 16px;
  //padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
  z-index: 1;
  font-size: .8em;
  color: $mid-grey;
  font-weight: 400;
  user-select: none;
  cursor: text;
}

.form__field-input {
  position: relative;
  padding: 1.625em 16px;
  width: 100%;
  color: $dark-grey;
  border: none;
  outline: 0;
  letter-spacing: 0.05em;
}

.form__register-wrapper {
  padding: 2px;
  width: 100%;
  color: $dark-grey;
  border: none;
  outline: 0;
  letter-spacing: 0.05em;
  text-align: center;
}

.form__submit-btn-wrapper {
  padding-bottom: 2px;
  width: 100%;
  background-color: rgba(255,255,255,0);
  display: flex;
  justify-content: center;
}

.form__submit-btn {
  width: 45%;
  font-size: 20px;
  border: none;
  background-color: #fff;
  border: 1px solid #51C321;
  padding: 0.5em 1em;
  border-radius: 3px;
  background-color: #51C321;
  color: white;
  display: inline-block;
  margin-right: 5px;
  position: relative;
}

.index-btn {
  border: none;
  background-color: #fff;
  border: 1px solid #51C321;
  padding: 0.5em 1em;
  border-radius: 3px;
  background-color: #51C321;
  color: white;
  display: block;
  margin: 0 auto;
  position: relative;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.g-recaptcha {
  width: 50%;
}

#footer {
		padding: 4em 0 2em 0;
		background-color: #1b1b1f;
		text-align: center;
	}

		#footer .inner {
			width: 50%;
			margin: 0 auto;
		}

			@media screen and (max-width: 980px) {

				#footer .inner {
					width: 75%;
				}

			}

			@media screen and (max-width: 480px) {

				#footer .inner {
					width: 90%;
				}

			}

		#footer .copyright {
			color: rgba(255, 255, 255, 0.5);
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0;
			text-align: center;
		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0 1em 0;
			}

		}

.js-form__err-animation {
  animation: shake 150ms ease-in-out;
}

.form__error-wrapper {
  // display: none;
  justify-content: center;
  max-width: calc(100% - 2em);
  margin: 0 auto;
  margin-bottom: 1em;
}

.form__error {
  // display: none;
  background-color: $error-color;
  color: white;
  margin: 0;
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-family: $text-font-stack;
  user-select: none;
}

.js-form__err .form__error-wrapper {
  display: flex;
}

.js-form__err--user-doesnt-exist .form__error--username-not-registered,
.js-form__err--username-exists .form__error--username-taken,
.js-form__err--password-wrong .form__error--wrong-password,
.js-form__err--field-missing .form__error--field-missing {
  display: inline-block;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

