div#video-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.video-tile {
    border: 1px solid black;
    flex: 1;
    //flex-basis: (100%/3);
    margin: 20px;
    padding: 20px;

    h2, p {
        text-align: center;
    }

    img, button {
        display: block;
        margin: 0 auto;
    }
}
