div#video-grid {
    background-color: #202024;
    display: flex;
    flex-wrap: wrap;
}

div.video-tile {
    background-color: #42424f;
    border: 1px solid black;
    flex: 0 0 30%;
    margin: 20px;
    padding-bottom: 20px;
    width: 30%;

    h2, p {
        color: #fff;
        text-align: center;
    }
   
    p { opacity: 0.75; }

    img, button {
        display: block;
        margin: 0 auto;
    }
    
    img {
        cursor: pointer;
        width: 100%;
    }
}
