div#video-grid {
    display: flex;
    flex-wrap: wrap;
}

div.video-tile {
    border: 1px solid black;
    flex: 0 0 30%;
    margin: 20px;
    padding: 20px;
    width: 30%;

    h2, p {
        text-align: center;
    }

    img, button {
        display: block;
        margin: 0 auto;
    }
    
    img {
        cursor: pointer;
        width: 90%;
    }
}
