div#modal-window {
    background-color: rgba(0, 0, 0, 0.90);
    display: none;
    height: 100%;
    left: 0%;
    position: fixed;
    top: 0%;
    width: 100%;

    video#video-player {
        display: block;
        margin: auto auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 80% !important;
    }
}
