<html>
    <head>
        <title>CS160 prototype</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <h3>Hello {{username}}</h3>
        <h4>add your pics here</h4>


        {% for pic in pics %}
            <form action="" method="post">
                    <input class="btn btn-default" type="submit" value="delete pic">

                    <img src="{{pic[2]}}" alt="Mountain View" style="width:304px;height:228px;">
                    
                    <input type=hidden name=update value=delete>
                    <input type=hidden name=id value={{pic[3]}}>
            </form>
        {% endfor %}
 


                  <form action="" method="post" enctype="multipart/form-data">
                    <input type="file" name="file"><br /><br />
                    <input type="submit" value="Upload">
                  </form>

	   	<p> Click <a href="/">here</a> to return to menu.</p>
	   	<p> Click <a href="/logout">here</a> to logout.</p>
    </body>
</html>
