/* This file contains very basic styles. */

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
    background-color: $background-color;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/ff/67/fc/ff67fcfb6ad633e0e92ec443e7e3b473.jpg);
    background-size: cover;
    opacity: 0.75;
}

body.js-open-sans-loaded {
    font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
